*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* all pages */
body{
    padding: 5px;
}
.article-font{
    font-size: 20px;
}

/* palette */
.picton-blue{
    color: #2bade6;
}

.gray{
    color: #8e8e8e
}

/* header */
header{
    background-image: url(../img/pattern.png);
    background-color: #4ea0ff;
    background-size: 30%;
}

img.logo-banner{
    margin-top: 50px;
    width: 350px;
    padding-left: 20px;
}

/* section */
h1{
    font-size: 3em;
}

section .authorship-information{
    font-size: 22px;
    font-weight: 600;
}